<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/demo.css">
    <title>Document</title>
</head>
<body>

    <div class = "instructions">
         <h1 class = "head">Instructions</h1>
        <ul class = "item">  
            <li>Enter the numbers separated by comma <b>(,)</b></li>
            <li>For Factorial,Fibnocci enter only one number</li>
            <li>For Powers enter only two numbers</li>
        </ul>

    </div>
<div class = "maincontainer">
<div class = "container">
    <form action="add">

        <input type="text"  class = "inputs" name = "n1" placeholder="Enter Number"><br>
    <div class = "btn"> 
        <button type = "submit">ADDITION</button>

    </div>
    <h1 class = "heading">{{res}}</h1>
    </form>
</div>
<div class = "container">
    <form action="sub">

        <input type="text"  class = "inputs" name = "n2" placeholder="Enter Number"><br>
    <div class = "btn"> 
        <button type = "submit">SUBTRACT</button>

    </div>
    <h1 class = "heading">{{s}}</h1>
    </form>
</div>

<div class = "container">
    <form action="mul">

        <input type="text"  class = "inputs" name = "n3" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">MULTIPLICATION</button>

    </div>
    <h1 class = "heading">{{m}}</h1>
    </form>
</div>

<div class = "container">
    <form action="div">

        <input type="text"  class = "inputs" name = "n4" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">DIVISION</button>

    </div>
    <h1 class = "heading">{{d}}</h1>
    </form>
</div>


<div class = "container">
    <form action="lcm">

        <input type="text"  class = "inputs" name = "n5" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">LCM</button>

    </div>
    <h1 class = "heading">{{l}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="gcd">

        <input type="text"  class = "inputs" name = "n6" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">GCD(or)HCF</button>

    </div>
    <h1 class = "heading">{{g}}</h1> 
    </form>
</div>


<div class = "container">
    <form action="fact">

        <input type="text"  class = "inputs" name = "n7" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">FACTORIAL</button>

    </div>
    <h1 class = "heading">{{f}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="fib">

        <input type="text"  class = "inputs" name = "n8" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">FIBNOCCI</button>

    </div>
    <h1 class = "heading">{{fi}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="avg">

        <input type="text"  class = "inputs" name = "n13" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">AVERAGE</button>

    </div>
    <h1 class = "heading">{{avg}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="mean">

        <input type="text"  class = "inputs" name = "n9" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">MEAN</button>

    </div>
    <h1 class = "heading">{{mean}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="median">

        <input type="text"  class = "inputs" name = "n10" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">MEDIAN</button>

    </div>
    <h1 class = "heading">{{median}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="mode">

        <input type="text"  class = "inputs" name = "n11" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">MODE</button>

    </div>
    <h1 class = "heading">{{mode}}</h1> 
    </form>
</div>

<div class = "container">
    <form action="std">

        <input type="text"  class = "inputs" name = "n12" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">STD</button>

    </div>
    <h1 class = "heading">{{std}}</h1> 
    </form>
</div>


<div class = "container">
    <form action="power">

        <input type="text"  class = "inputs" name = "n14" placeholder="Enter Numbers"><br>
    <div class = "btn"> 
        <button type = "submit">POWERS</button>

    </div>
    <h1 class = "heading">{{pwr}}</h1> 
    </form>
</div>
</div>

</body>
</html>